@import url('https://fonts.cdnfonts.com/css/general-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background: #010103;
  font-family: 'General Sans', sans-serif;
}


/* Rotating Images */
.rotating-images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 250s linear infinite;
  transform-origin: center;
}

.rotating-images-2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate2 250s linear infinite;
  transform-origin: center;
}

.circle-image:nth-child(1) { transform: rotate(0deg) translate(350px) rotate(0deg); }
.circle-image:nth-child(2) { transform: rotate(60deg) translate(350px) rotate(-60deg); }
.circle-image:nth-child(3) { transform: rotate(120deg) translate(350px) rotate(-120deg); }
.circle-image:nth-child(4) { transform: rotate(180deg) translate(350px) rotate(-180deg); }
.circle-image:nth-child(5) { transform: rotate(240deg) translate(350px) rotate(-240deg); }
.circle-image:nth-child(6) { transform: rotate(300deg) translate(350px) rotate(-300deg); }

.circle-image-1:nth-child(1) { transform: rotate(0deg) translate(700px) rotate(0deg); }
.circle-image-1:nth-child(2) { transform: rotate(30deg) translate(700px) rotate(-30deg); }
.circle-image-1:nth-child(3) { transform: rotate(60deg) translate(700px) rotate(-90deg); }
.circle-image-1:nth-child(4) { transform: rotate(90deg) translate(700px) rotate(-120deg); }
.circle-image-1:nth-child(5) { transform: rotate(120deg) translate(700px) rotate(-150deg); }
.circle-image-1:nth-child(6) { transform: rotate(150deg) translate(700px) rotate(-180deg); }
.circle-image-1:nth-child(7) { transform: rotate(180deg) translate(700px) rotate(-210deg); }
.circle-image-1:nth-child(8) { transform: rotate(210deg) translate(700px) rotate(-240deg); }
.circle-image-1:nth-child(9) { transform: rotate(240deg) translate(700px) rotate(-270deg); }
.circle-image-1:nth-child(10) { transform: rotate(270deg) translate(700px) rotate(-300deg); }
.circle-image-1:nth-child(11) { transform: rotate(300deg) translate(700px) rotate(-330deg); }
.circle-image-1:nth-child(12) { transform: rotate(330deg) translate(700px) rotate(-360deg); }


@media (max-width: 995px) {
  .circle-image:nth-child(1) { transform: rotate(0deg) translate(180px) rotate(0deg); }
  .circle-image:nth-child(2) { transform: rotate(60deg) translate(180px) rotate(-60deg); }
  .circle-image:nth-child(3) { transform: rotate(120deg) translate(180px) rotate(-120deg); }
  .circle-image:nth-child(4) { transform: rotate(180deg) translate(180px) rotate(-180deg); }
  .circle-image:nth-child(5) { transform: rotate(240deg) translate(180px) rotate(-240deg); }
  .circle-image:nth-child(6) { transform: rotate(300deg) translate(180px) rotate(-300deg); }

  .circle-image-1:nth-child(1) { transform: rotate(0deg) translate(350px) rotate(0deg); }
  .circle-image-1:nth-child(2) { transform: rotate(30deg) translate(350px) rotate(-30deg); }
  .circle-image-1:nth-child(3) { transform: rotate(60deg) translate(350px) rotate(-90deg); }
  .circle-image-1:nth-child(4) { transform: rotate(90deg) translate(350px) rotate(-120deg); }
  .circle-image-1:nth-child(5) { transform: rotate(120deg) translate(350px) rotate(-150deg); }
  .circle-image-1:nth-child(6) { transform: rotate(150deg) translate(350px) rotate(-180deg); }
  .circle-image-1:nth-child(7) { transform: rotate(180deg) translate(350px) rotate(-210deg); }
  .circle-image-1:nth-child(8) { transform: rotate(210deg) translate(350px) rotate(-240deg); }
  .circle-image-1:nth-child(9) { transform: rotate(240deg) translate(350px) rotate(-270deg); }
  .circle-image-1:nth-child(10) { transform: rotate(270deg) translate(350px) rotate(-300deg); }
  .circle-image-1:nth-child(11) { transform: rotate(300deg) translate(350px) rotate(-330deg); }
  .circle-image-1:nth-child(12) { transform: rotate(330deg) translate(350px) rotate(-360deg); }
}



@keyframes rotate {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes rotate2 {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(-360deg); }
}

.center-content {
  position: relative;
  z-index: 1;
  text-align: center;
}

.center-content h1 {
  font-size: 3rem;
  margin: 0 0 1rem;
}
